@model List<ShoppingCartItem>;

<div id="shopping-cart">
    <h1>Indkøbskurv</h1>
    <table>
        <thead>
            <tr>
                <th>Id:</th>
                <th>Billede</th>
                <th>Produkt-navn:</th>
                <th>Mængde:</th>
                <th style="border: none;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        <img src="@item.Product.ImagePath" alt="@item.Product.Name" style="height: 50px; width: auto;" />
                    </td>
                    <td>@item.Product.Name</td>
                    <td>
                        <!-- Kolonne for mængdeopdateringsknapper -->
                        @item.Quantity
                        <form asp-action="UpdateQuantity" asp-controller="ShoppingCart" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" name="action" value="decrease">-</button>
                            <button type="submit" name="action" value="increase">+</button>
                        </form>
                    </td>
                    <td>
                        <!-- Kolonne for Slet-knap -->
                        <form asp-action="RemoveFromCart" asp-controller="ShoppingCart" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit">Slet</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Booking datoer for afhentning og aflevering -->
    <div class="booking-dates">
        <h3>Vælg dine booking datoer</h3>
        <form asp-controller="Shipping" asp-action="Index" method="post" class="form-container">
            <label for="pickUpDateTime" class="form-label">Afhentningsdato og -tidspunkt:</label>
            <input type="datetime-local" id="pickUpDateTime" name="PickUpDateTime" class="form-input" required />

            <label for="returnDateTime" class="form-label">Afleveringsdato og -tidspunkt:</label>
            <input type="datetime-local" id="returnDateTime" name="ReturnDateTime" class="form-input" required />

            <button type="submit" class="form-button">Videre</button>
        </form>
    </div>
</div>
